/*It should be noted that in order for the css styling to be updated you have to press shift+
f5 in order to also update the cache*/

.user-table {
	border: 2px solid black;
	border-color: #0000FF;
}

th, td {
	padding: 5px;
}

th {
	text-align: center;
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  height:100%;
  overflow:auto;  
  margin-top:20px;
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
}
