{% extends "base.html" %}
{% block title %}Home Page {% endblock %}
{% block content %}
<h1> Home website</h1>
<h3> Here is an image of a kitten !</h3>
<img src="https://icatcare.org/app/uploads/2019/09/The-Kitten-Checklist-1.png" alt="Kitten Image" style="width:500px">
<h3> Introduction: </h3>
<p>Hello, I am Raphael and during my free time, I love to run and code. I am experienced in C++ and Python, but can also code in Java, C, html and JavaScript.</p>
<h5> Goals for coding: </h5>
<ul>
	<li> Watch the <a href ="https://cs50.harvard.edu/college/2021/spring/weeks/7/">SQL lecture for cs50</a> and do the pset</li>

	<li> Learn how to code a website using php and apply it to this website</li>
	<li> Finish the multiplayer game on Github</li>

</ul>
{% endblock %}