{% extends "base.html" %}
{% block title %} Random People API {% endblock %}
{% block content %}
	<h5> This is a random user generator. It uses requests and json to get random users from the RandomUser api.</h5>
	{% for i in content%}
		{%with text, image = i%}
			<pre>{{text}}</pre>
			<img src={{image}} alt="Profile Picture" width="200", height="200" >
			<br></br>
		{% endwith%}
	{% endfor %}
	<form>
		<button type="submit" name = "addUser" formmethod="POST"> Click Me!</button>
	</form>
{% endblock %}